html {
  font-family: arial;
  background-color: #777;
}

.cookie-preview {
  width: 601px;
  height: 640px;
}

i {
  margin: 0 10px;
}

.error {
  border: 2px solid red;
  padding: 0 10px;
  background: #ffcdcd;
}
